# common
pip
pyinstaller
setuptools
wheel

# project specific
argparse
bokeh
cx_Oracle
dash
descartes
fiona
flask
#gdal
geopandas
geopy
graphviz
grpcio
grpcio-tools
matplotlib
numpy
pandas
plotly
protobuf
psycopg2-binary
pyproj
#rtree
scikit-learn
scipy
shapely
tkcalendar
